.registries {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: blueviolet;
  }
  
  .registrySectionTitle {
    font-size: 1.5rem;
    font-family: 'Allura', cursive;
    color: rgb(255, 219, 253);
    letter-spacing: 3px;
    animation: glowing 2s infinite alternate;
  }
  
  .registryButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  .button {
    background-color: #872cff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    color: rgb(255, 219, 253);
    font-size: 1rem;
    font-family: 'Allura', cursive;
    letter-spacing: 3px;
    box-shadow: 0 0 1rem #ff84f5;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .button:hover {
    cursor: pointer;
  }
  