@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(135,43,254);
  --background-start-rgb: lavender;
  --background-end-rgb: rgb(135,43,254);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

/* globals.css */

main {
  flex-grow: 1;
}

.app-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  background-color: var(--background-start-rgb);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

html,
body {
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  margin: 0;
}