/* components/Card/Card.module.css */
.card {
    background-color: #8700bd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  