.footer {
  position: sticky;
  bottom: 0;
  background-color: #872cff;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-family: 'Allura', cursive;
  border-top: #dc2cff solid 3px;
  box-shadow: 0 0 1rem #97008a;
}